{% extends 'templates/base.html' %}
{% load static %}
{% comment %} {% load layouts_tags %} {% endcomment %}

{% block head_styles %}
<title>Login | Portfolio</title>
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}?ver=7.4" type="text/css">
{% endblock %}

{% block main_content %}
<div class="container">
    <form action="" method="POST" class="login-form">
        {% csrf_token %}
        <h2>Log In</h2>
        
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="submit-btn">Log In</button>
        <p>New user? <a href="{% url 'signup' %}">Sign Up</a></p>
    </form>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endblock %}